/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

/*body { 
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 32px;
}

.container_12 {
    margin-top: 40px;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: dashed 1px #DDD;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}


a, a:visited { 
    color: #4488FF
    text-decoration: none; 
}

a:hover, a:active { 
    text-decoration: underline; 
}*/

.wfid_app {
  position: relative;
  margin: 10px;
  background-color: #369;
  color: #333;
  line-height: 130%;
  padding: 10px;
  border: 1px outset #999;
}

.wfid_floating_messages {
  position: absolute;
  width: 600px;
  float: left;
}

.wfid_editor {
  padding: 5px;
}

.wfid_menus {
  float: right;
  width: 200px;
  margin: 0;
  padding: 5px;
  color: #fff;
  font-family: sans-serif;
}

#canvas {
  border: 1px inset orange;
}

.wfid_controls {
  text-align: right;
}

/*.element {
  margin-left: auto;
  margin-right: auto;
}*/

.button-place {
  width: 56px; 
  height: 56px; 
  background: white;
  -moz-border-radius: 30px; 
  -webkit-border-radius: 30px; 
  border-radius: 32px;
  border: 4px solid black;
  margin: auto;
}

.button-transition { 
  width: 6px; 
  height: 56px; 
  background: white;
  border: 4px solid black;
  margin: auto;
}

.button-cursor { 
  width: 0px; 
  height: 0px; 
  border-right: 32px solid transparent; 
  border-top: 32px solid black; 
  border-left: 32px solid black; 
  border-bottom: 32px solid black; 
  border-top-left-radius: 32px; 
  border-top-right-radius: 32px; 
  border-bottom-left-radius: 32px; 
  border-bottom-right-radius: 32px;
}

.button-arc {
  width: 0; 
  height: 0; 
  border-left: 32px solid transparent; 
  border-right: 32px solid transparent; 
  border-bottom: 64px solid black;
}

.button-marker {
  width: 10px;
  height: 10px;
  background: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: auto;
}

#feedback { 
  font-size: 1.0em;
}

.selected { 
  background: #FECA40; 
}

#selectable {
  list-style-type: none;
  margin: 0; 
  padding: 0;
}

#selectable li {
  margin: 3px; 
  padding: 1px; 
  float: left; 
  width: 64px; 
  height: 64px; 
}

.canvas-container {
  background-color: white;
}
